::placeholder{
    text-align: center;
    color: blue;
}

.inputs {
    width: 100%; 
    text-align: center; 
    font-family: 'Oswald', sans-serif;
    color: black;
    font-size: 0.65rem;
    background: transparent;
    line-height: 2;
    border: none;
}

#invitediv {
    display: flex;
    flex-direction: row;
    margin-left: 1%;
}

.inviteform {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 0.95rem;
    /* margin-top: 5%; */
    margin-left: -0.15rem;
    /* margin-left: -1.1%; */
}

#locationinput {
    margin-left: -1.3rem;
}

#phoneinput {
    margin-left: 0.9rem;
    font-size: 0.54rem;
}

/* @media (min-width:) */

#saveimage {
    margin-top: 4vh;
    width: 15rem;
    background-color: orange;
    font-size: 7vw;
    font-family: 'Oswald', sans-serif;
    border-radius: 25px;
}

#reload {
    font-family: system-ui;
}