#CardtoSave {
    display: flex;
    margin-top: 4.5vh;
    flex-direction: column;
}

::placeholder{
    text-align: center;
    color: black !important;
}

.inputs {
    /* width: 100%;  */
    text-align: center; 
    font-family: 'Oswald', sans-serif;
    color: black;
    font-size: 0.65rem;
    background: transparent;
    line-height: 2;
    border: none;
    height: 7vh;
}
#locationinput::placeholder {
    font-size: 3vw;
}

#invitediv {
    display: flex;
    flex-direction: row;
    margin-left: 1%;
}

.inviteform {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 0.95rem;
    margin-left: -0.15rem;
    z-index: 999;
}
#childname {
    /* max-width: 15vw; */
    /* margin-left: 3vw; */
    font-size: 3vw;
    margin-top: 0.5vh;
}

#locationinput {
    margin-left: 0.6vw;
    max-width: 22vw;
    width: 21.5vw;
    font-size: 1.8vw;
    margin-top: 1vw;
}
#bdaytime {
    margin-left: 6.5vw;
    font-size: 3vw;
    width: 16vw;
    text-align: start;
    margin-top: 0.75vw;
}
#phoneinput {
    margin-left: 6.1vw;
    font-size: 2.5vw;
    width: 16vw;
    margin-top: 0.8vw;
    text-align: start;
}
@media(min-width: 428px) {
    #phoneinput {
        margin-left: 1.8vw;
    }
    #childname {
        margin-left: -3vw;
    }
}

#bottomholder {
    position: absolute;
    display: flex;
    flex-direction: column;
}

#saveimage {
    margin-top: 4vh;
    background-color: orange;
    font-size: 4vw;
    font-family: 'Oswald', sans-serif;
    border-radius: 25px;
    margin-inline: auto;
    display: block;
    padding-inline: 3vw;
}


img, video {
    max-width: 100%;
    height: auto;
}

img, svg, video, canvas, audio, iframe, embed, object {
    display: block;
    vertical-align: middle;
}
#reload {
    display: flex;
    justify-content: center;
    font-family: Teko, sans-serif;
    color: white;
    font-size: 4vw;
    margin-top: 4vw;
    text-align: center;
}