.bold {
    font-weight: 700;
}
.align-center {
    text-align: center;
}
.jc-c {
    justify-content: center;
}
.column {
    flex-direction: column;
}
a, a:hover {
    text-decoration: none;
}
a {
    cursor: pointer;
}