.white {
    color: #ffffff;
}
.bold {
    font-weight: 700;
}
.text-white {
  color: #ffffff;
}
.align-center {
    text-align: center;
}
.jc-c {
    justify-content: center;
}
.column {
    flex-direction: column;
}
.flex {
    display: flex;
}
a, a:hover {
    text-decoration: none;
}
a {
    cursor: pointer;
}