.cid-trmAg1lINL {
    padding-top: 4rem;
    padding-bottom: 4rem;
    background-color: #141229;
    color: white;
}

section, .container-serv, .container-fluid {
    position: relative;
    word-wrap: break-word;
}

section {
    background-color: #ffffff;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    padding: 30px 0;
}

.display-2 {
    font-family: 'Oswald',sans-serif;
    font-size: 2.5rem;
    line-height: 1.2;
}
.cid-trmAg1lINL .card-box {
    padding: 60px 30px;
}

.cid-trmAg1lINL .box1, .cid-trmAg1lINL .box2 {
    border-bottom: 1px solid #5e5c7e;
}

.cid-trmAg1lINL .box1, .cid-trmAg1lINL .box3 {
    flex-direction: row-reverse;
}

.cid-trmAg1lINL .flex {
    align-items: center;
}

.display-5-serv {
    font-family: "Oswald", sans-serif;
    font-size: 1.5rem;
    line-height: 1.2;
    font-weight: 400;
}

h1, h2, h3, h4, h5, h6, .display-1, .display-2, .display-4, .display-5-serv, .display-7 {
    word-break: break-word;
    word-wrap: break-word;
}
.display-2-serv {
    font-family: 'Oswald',sans-serif;
    font-size: 2.5rem;
    line-height: 1.2;
}

@media (max-width: 767px){
    .container-serv {
        max-width: 540px;
    }
    .align-left, .align-center, .align-right {
        text-align: center;
    }
    .cid-trmAg1lINL .card-box .round-box {
        margin: 0;
        margin-bottom: 20px;
    }
    .cid-trmAg1lINL .card-box {
        flex-direction: column-reverse;
        padding-top: 0;
        border: none;
    }
}

@media (max-width: 768px){
    .display-2-serv {
        font-size: 2rem;
        font-size: calc( 1.525rem + (2.5 - 1.525) * ((100vw - 20rem) / (48 - 20)));
        line-height: calc( 1.4 * (1.525rem + (2.5 - 1.525) * ((100vw - 20rem) / (48 - 20)))) !important;
    }
    .display-5-serv {
        font-size: 1.2rem;
        font-size: calc( 1.175rem + (1.5 - 1.175) * ((100vw - 20rem) / (48 - 20)));
        line-height: calc( 1.4 * (1.175rem + (1.5 - 1.175) * ((100vw - 20rem) / (48 - 20))));
    }
}

@media (max-width: 968px){
    .cid-trmAg1lINL .card-box {
        border: none;
    }
}

.cid-trmAg1lINL .round1, .cid-trmAg1lINL .round3 {
    margin-right: 30px;
}

.cid-trmAg1lINL .round-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: linear-gradient(to right,#96ecf0,#5c9edd);
}

.pb-5, .py-5 {
    padding-bottom: 3rem;
}

.section-title-serv, .section-subtitle, .card-title, .card-subtitle {
    letter-spacing: -1px;
    font-weight: 500 !important;
}

.section-title-serv {
    text-shadow: 0 2px 4.8px rgb(30 29 50 / 30%);
    margin: 0;
    padding: 0;
    font-style: normal;
    line-height: 1.2;
    width: 100%;
}
.row-serv, .form-row-serv {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-left: -1rem;
    margin-right: -1rem;
}

.cid-trmAg1lINL .col-sm-12-serv, .cid-trmAg1lINL .col-md-6-serv, .cid-trmAg1lINL .col-lg-6-serv {
    display: flex;
    padding: 0;
}
.container-serv {
    padding: 0 1rem;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}
.pt-5, .py-5 {
    padding-top: 3rem;
}
.cid-trmAg1lINL .box2, .cid-trmAg1lINL .box4 {
    border-left: 1px solid #5e5c7e;
}
.cid-trmAg1lINL .round2, .cid-trmAg1lINL .round4 {
    margin-left: 30px;
}
.cid-trmAg1lINL .round-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: linear-gradient(to right,#96ecf0,#5c9edd);
}
@media (min-width: 768px) {
    .container-serv {
        max-width: 720px;
    }
    .col-md-12-serv {
        -ms-flex: 0 0 100%;
        -webkit-box-flex: 0;
        flex: 0 0 100%;
        max-width: 100%;
        padding-right: 1rem;
        padding-left: 1rem;
    }
}
@media (max-width: 992px) {
    .cid-trmAg1lINL .card-box {
        border: none;
    }
    .cid-trmAg1lINL .box2, .cid-trmAg1lINL .box4 {
        border: none;
    }
}
@media (min-width: 992px) {
    .container-serv {
        max-width: 960px;
    }
    .col-lg-6-serv {
        -ms-flex: 0 0 50%;
        -webkit-box-flex: 0;
        flex: 0 0 50%;
        max-width: 50%;
        padding-right: 1rem;
        padding-left: 1rem;
    }
}
