.cid-trmAg1lINL {
    padding-top: 8rem;
    padding-bottom: 4rem;
    background-color: #141229;
    color: white;
}

section, .container, .container-fluid {
    position: relative;
    word-wrap: break-word;
}

section {
    background-color: #ffffff;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    padding: 30px 0;
}

.display-2 {
    font-family: 'Oswald',sans-serif;
    font-size: 2.5rem;
    line-height: 1.2;
}

.align-center {
    text-align: center;
}

.cid-trmAg1lINL .card-box {
    padding: 60px 30px;
}

.cid-trmAg1lINL .box1, .cid-trmAg1lINL .box2 {
    border-bottom: 1px solid #5e5c7e;
}

.cid-trmAg1lINL .box1, .cid-trmAg1lINL .box3 {
    flex-direction: row-reverse;
}

.cid-trmAg1lINL .mbr-flex {
    align-items: center;
}

.mbr-flex {
    display: flex;
}

.display-5-serv {
    font-family: 'Oswald',sans-serif;
    font-size: 1.5rem;
    line-height: 1.2;
}

h1, h2, h3, h4, h5, h6, .display-1, .display-2, .display-4, .display-5, .display-7 {
    word-break: break-word;
    word-wrap: break-word;
}

@media (max-width: 767px){
    .container {
        max-width: 540px;
    }
    .align-left, .align-center, .align-right {
        text-align: center;
    }
    .cid-trmAg1lINL .card-box .round-box {
        margin: 0;
        margin-bottom: 20px;
    }
    .cid-trmAg1lINL .card-box {
        flex-direction: column-reverse;
        padding-top: 0;
        border: none;
    }
}

@media (max-width: 768px){
    .display-2 {
        font-size: 2rem;
        font-size: calc( 1.525rem + (2.5 - 1.525) * ((100vw - 20rem) / (48 - 20)));
        line-height: calc( 1.4 * (1.525rem + (2.5 - 1.525) * ((100vw - 20rem) / (48 - 20))));
    }
    .display-5-serv {
        font-size: 1.2rem;
        font-size: calc( 1.175rem + (1.5 - 1.175) * ((100vw - 20rem) / (48 - 20)));
        line-height: calc( 1.4 * (1.175rem + (1.5 - 1.175) * ((100vw - 20rem) / (48 - 20))));
    }
}

@media (max-width: 968px){
    .cid-trmAg1lINL .card-box {
        border: none;
    }
}

.cid-trmAg1lINL .round1, .cid-trmAg1lINL .round3 {
    margin-right: 30px;
}

.cid-trmAg1lINL .round-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: linear-gradient(to right,#96ecf0,#5c9edd);
}

.mbr-pb-5, .mbr-py-5 {
    padding-bottom: 3rem;
}

.mbr-section-title, .mbr-section-subtitle, .card-title, .card-subtitle {
    letter-spacing: -1px;
    font-weight: 500;
}

.mbr-section-title {
    text-shadow: 0 2px 4.8px rgb(30 29 50 / 30%);
    margin: 0;
    padding: 0;
    font-style: normal;
    line-height: 1.2;
    width: 100%;
}

.cid-trmAg1lINL .mbr-col-sm-12, .cid-trmAg1lINL .mbr-col-md-6, .cid-trmAg1lINL .mbr-col-lg-6 {
    display: flex;
    padding: 0;
}