.MuiDrawer-paperAnchorRight {
    background-color: #141229 !important;
    width: 53% !important;
    padding: 1rem 2rem;
}

.linkdiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Play", sans-serif;
    font-size: 20;
    font-weight: 600;
}
#closeicon:hover path{
    color: rgb(27, 194, 202) !important;
    transition: 0.5s all;
}
.reglinks {
    text-decoration: none;
    color: white;
    font-family: Play, sans-serif;
    font-size: 1rem;
    font-weight: 600;
    margin: 0.665rem 1rem;
}
.reglinks:hover {
    color: rgb(27, 194, 202) !important;
    transition: 0.3s all;
}
#bookbutton {
    text-align: center;
    color: rgb(27, 194, 202);
    border: 2px solid;
    border-radius: 40px;
    text-transform: uppercase;
    padding: 0.625rem 2rem;
    width: 45%;
}
#bookbutton:hover {
    color: white !important;
}